.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.kuvat {
  /* height: 20px; */
  /* width: 50%; */
  max-width: 50px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h2 {
  color: green;
  font-size: 100px;
  border-radius: 50%/100px 100px 0 0;
  border-color: black;
  background-color: rgba(233, 123, 21, 0.966);
}
.boardi {
  background-color: wheat;
}
.poyta {
  border-color: violet;
  border-radius: 60px;
  padding: 30px;
  background-color: rgb(41, 87, 62);

}

#pelaajat {
  padding: 30px;
  background-image: url("/public/tausta/lataus.jpg");
}
/* .box {
  
  border: solid 5px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
} */